#firstPage{
	height: 900px;
}

#homePage{

}

#navBar{
	margin: 0 auto;
	padding: 0;
	display: inline;
	/*background-color: white;*/
	width: 500px;
	height: 500px;
	color: white;
}
#navBar ul {
	display: inline;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

#navBar a{
	text-decoration: none;
	color: white;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
}

#bottomnavBar{
	color: white;
}

#summaryPage{
	align-self: center;
	width: 1920px;
	height: 900px;
	margin: 0 auto;
}

.Summary{
	font-size: 25px;
	height: 50px;
	align-content: center;
	color: white;
}

.Summary p{
	width: 600px;
	font-size: 50px;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.Summary a{
	font-size: 50px;
/*	background-color: red;*/
/*	text-decoration: none;*/
	color: white;
}
.Summary a p{
	font-size: 30px;
}

.logo {
	margin: 0 auto;
	font-size: 50px;
	color: white;
}

.bpLogo{
	width: ‪100px;
	height: 500px;
}

#bpLogo a{
	color: white;
;

}
.actualSummary{
	width: 1000px;
	height: 650px;
	background-color: red
}
.actualSummary p{
	align-content: left
	font-size: 50px;

}

#soundTrack{
}

.subTitle{
	font-size: 40px;
	color: #fff;
}
#list{
	font-size: 30px;
	align-self: right;
	color:#fff;
}
.Black{
	width: 600px;
	height: 839px;
	font-color: blue;
	align-self: center;
}

#brain{
	height: 100px;
	width: 700px;
}
.castTable{
	font-size: 25px;
	color: white;
}
#director{
	font-size: 30px;
	color: white;
	width: 700px;
	height: 650px;
}

#ryanlogo{
	height:1000px;
}
.BP{
	display: inline-block;
	font-size: 50px;
	color: white;
	margin: 10 auto;
	padding: 0;
}
.Whitespace{
	background-color: red;
	height: 50px;
	width: 1000px;
}
